body {
    margin: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    background-color: #999;
}

h1 {
    text-align: center;
}

ul {
    margin: 0;
}

form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form ul li {
    margin: 5px;
}

input[type="radio"] {
    vertical-align: middle;
}

#select-model ul {
    margin-bottom: 1em;
    width: fit-content;
}

#select-model li {
    padding: 0.5em 0.5em;
    margin: 2px 0;
    background: white;
}

#select-model label {
    vertical-align: middle;
    padding: inherit;
}

.center {
    display: flex;
    justify-content: center;
}

main article {
    align: center;
    background-color: #CCC;
    display: flex;
    flex-direction: column;
    width: calc(min(80vw, 1000px) - 60px);
    padding: 30px;
    margin-top: 30px;
}

#select-model-actions {
    margin-top: 10px;
}
